body {
    font-family: Arial, sans-serif;
}

header nav {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 1rem;
}

header nav .left-section a, header nav .right-section button {
    color: white;
    margin-right: 1rem;
    text-decoration: none;
}

.row {
    display: flex;
    margin: 2rem 0;
}

.left-column {
    width: 33%;
}

.right-column {
    width: 67%;
}

body.dark-mode {
    background-color: #121212;
    color: white;
}

body.light-mode {
    background-color: white;
    color: black;
}

